[Desktop Entry]
Name=Qtile
Comment=Qtile Session
Exec=qtile
TryExec=qtile
Type=Application
X-LightDM-DesktopName=qtile
DesktopNames=qtile
Keywords=tiling;wm;windowmanager;window;manager;
